<div class="container">
  <div class="row m-t-5">
    <div class="col-md-12">
      <h1><%= I18n.t('.views.cnab_importation.import_summary.title') %></h1>
    </div>
  </div>
</div>
<%= render partial: 'import_summary_listing' %>