<div class="container m-t-10">
  <div class="jumbotron">
    <h1 class="display-4"><%= I18n.t('.views.cnab_importation.new.import_new_file') %></h1>
    <p class="lead"><%= I18n.t('.views.cnab_importation.new.select_file_import') %></p>
    <hr class="my-4">

    <%= render partial: 'form' %>

  </div>
</div>