<p id="notice"><%= notice %></p>

<h1>Cnab Imports</h1>
<div class="card">
<div class="card-header">
<%= link_to 'New Cnab Import', new_cnab_import_path, class: "btn btn-info text-white" %>
</div>
<div class="card-body">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @cnab_imports.each do |cnab_import| %>
      <tr>
        <td scope="row"><%= cnab_import.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<center><%= will_paginate @cnab_imports %></center>
