<div class="row">
  <div class="col-8">
    <h1>Importadores CNAB</h1>
  </div>
  <div class="col-4 mt-2">
    <%= link_to "Novo Importador CNAB", new_importer_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data Importação</th>
          <th>Quantidade de Transações</th>
        </tr>
      </thead>
      <tbody>
        <% @importers.each do |importer| %>
          <tr class="importer">
            <td>
              <%= importer.created_at.strftime("%d/%m/%y - %H:%M:%S") %>
            </td>
            <td>
              <%= importer.transactions.count %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
