<div class="row mt-2">
  <div class="col-8">
    <h1>Importadores CNAB</h1>
  </div>
  <div class="col-4 mt-2">
    <%= link_to "Importadores CNAB", importers_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= form_with model: @importer, url: importers_path, method: :post, id: "importer" do |f| %>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="product_name">Arquivo</label>
            <%= f.file_field :file, class: "form-control" %>
          </div>
        </div>
        <div class="col-6 mt-1">
          <br>
          <%= f.submit "Salvar", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
