%nav.navbar.navbar-expand-lg.navbar-light.bg-light

  .container-fluid
    = link_to t('app.title'), '#', class: 'navbar-brand'

    %button.navbar-toggler{ data: { toggle: "collapse", target: "#navbar-toggleable" } }
      %span.navbar-toggler-icon

    #navbar-toggleable.collapse.navbar-collapse

      %ul.navbar-nav.mr-auto
        %li.nav-item{ class: ('active' if controller_path == 'platform/importers') }
          = link_to t('.importers'), platform_importers_path, class: "nav-link"

        %li.nav-item{ class: ('active' if controller_path == 'platform/stores') }
          = link_to t('.stores'), platform_stores_path, class: "nav-link"
