<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to "Importadores", importers_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Transações", transactions_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Lojas", stores_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>